<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestingMongo.Mongo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="mongo_angular" connectionString="mongodb://localhost" />
  </connectionStrings>
  <applicationSettings>
    <TestingMongo.Mongo.Properties.Settings>
      <setting name="ConnectionStringName" serializeAs="String">
        <value>mongo_angular</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>appharbor_9d5a91ab-b6bc-440e-a0c0-72d91afbf354</value>
      </setting>
    </TestingMongo.Mongo.Properties.Settings>
  </applicationSettings>
</configuration>